body{
    background-color: burlywood;
}
#tarolo{
    background-color: rgb(27, 63, 86);
    color: rgb(255, 255, 255);
    width:80%;
    max-width:800px;
    margin:auto;
    padding:10px;
}
#menu a{
    text-decoration:none;
    color:yellow;
    background-color:green;
    border:2px solid greenyellow;
    padding:5px 10px 5px 10px;
    margin:10px;
    border-radius:5px;
}
#menu a:hover{
    color:yellow;
    background-color: orangered;
}